@media screen and (min-width:1360px){
    .container{
        width: 920px;
        flex-direction: row;
        padding: 5% 9% 5% 0;
        justify-content: space-between;
    }
    .img{
        display: none;
    }
    .shadow{
        display: none;
    }
    .textside{
        align-items: start;
    }
    .img2{
        display: block;
        margin-bottom: 5%;
    }
    .shadow2{
        display: block;
        position: absolute;
        top: 20%;
    }
    .boxpic{
        display: block;
        position: absolute;
        top: 37%;
        right: 89%;
    }
    p:hover{
        color: #f47b56;
    }
}

